In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

data1 = pd.read_csv('input/Accidents0515.csv')
data2 = pd.read_csv('input/Casualties0515.csv')
data3 = pd.read_csv('input/Vehicles0515.csv')
data = pd.merge(data1,data2,on='Accident_Index')

In [2]:
print(data1.shape)
print(data2.shape)
print(data3.shape)
print(data.shape)

(1780653, 32)
(1048575, 15)
(1048575, 22)
(679971, 46)

In [3]:
final_data = pd.merge(data,data3,on='Accident_Index')
final_data.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Was_Vehicle_Left_Hand_Drive?,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,...,1,15,2,74,10,-1,-1,-1,7,1
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,1,1,1,42,7,8268,2,3,-1,-1
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,1,1,1,35,6,8300,2,5,2,1
3,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,1,15,1,62,9,1762,1,6,1,1
4,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,...,1,15,2,49,8,1769,1,4,2,1

In [4]:
print(data.shape)
print(final_data.shape)

(679971, 46)
(961906, 67)